{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <section class="hero">
    <h1>Welcome to <span>Kijani Kinga</span></h1>
    <p>Protecting communities with technology & nature-driven solutions 🌍</p>
    <div class="btn-group">
      <a href="{% url 'signup' %}" class="btn btn-primary">Get Started</a>
      <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
      <a href="/admin/" class="btn btn-secondary">Admin</a>
      <a href="/swagger/" class="btn btn-outline">API Docs</a>
      <a href="/redoc/" class="btn btn-outline">API ReDocs</a>
    </div>
  </section>
{% endblock %}
